.storage-type-button:hover{
  border: 1px solid #E0E0E0 !important;
  box-shadow: none;
}

.find-storage-button:hover{
  border: 1px solid #E0E0E0 !important;
}

.become-host-button:hover{
  border: 1px solid #E0E0E0 !important;
}

.location-button:hover{
  border: 1px solid #E0E0E0 !important;
  box-shadow: none;
}

.how-it-works-button-button:hover{
  border: 1px solid #E0E0E0 !important;
}

// .title-and-banner-div{
//     background-color: #D6E1F3;
// }

.logo-text{
  // color:#226CC5;
  color: #0079e1;
  font-weight: bold;
}

.storage-details-header {
  // //   background: linear-gradient(180deg,#051320,#174476);
  background-image: linear-gradient(135deg, #0E3885, #2F8BE6);
}

.custom-width-280{
  width: 280px;
}

.text-black{
  color: #000000;
  }

.text-bold-900{
  font-weight: 900;
}

















