<section class="home-section">
  <div class="home-div">
    <div class="header d-flex justify-content-between align-items-center px-3 py-2 bg-white rounded">
      <div class="left-menu">
        <div class="logo-div mr-2">
          <h4 class="logo-text m-0 text-bold-900 font-large-1 cursor-pointer">
            <img width="30px" src="assets/img/icons/store-easy-icons/storage-icon.svg" alt="">
            Store Easy
          </h4>
        </div>
      </div>
      <div class="right-menu d-flex justify-content-between align-items-center p-2 ">
          <div class="mr-2">
            <span class="how-it-works-button-button cursor-pointer p-2 rounded">How it works</span>
          </div>
          <div class="mr-2">
            <span class="find-storage-button cursor-pointer p-2 rounded">Find Storage</span>
          </div>
          <div ngbDropdown>
            <button class="btn storage-type-button mr-2" id="dropdownBasic1" ngbDropdownToggle>Storage Type</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item w-100">Self Storage</button>
              <button class="dropdown-item w-100">Garages</button>
              <button class="dropdown-item w-100">RV Storage</button>
              <button class="dropdown-item w-100">RV Storage</button>
              <button class="dropdown-item w-100">Boat Storage</button>
              <button class="dropdown-item w-100">Car Storage</button>
              <button class="dropdown-item w-100">Truck Parking</button>
              <button class="dropdown-item w-100">Monthly Parking</button>
              <button class="dropdown-item w-100">Long-term Parking</button>
              <button class="dropdown-item w-100">Fleet Parking</button>
            </div>
          </div>
          <div ngbDropdown>
            <button class="btn location-button mr-2" id="dropdownBasic1" ngbDropdownToggle>Locations</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item w-100">Alberta</button>
              <button class="dropdown-item w-100">British Columbia</button>
              <button class="dropdown-item w-100">Manitoba</button>
              <button class="dropdown-item w-100">New Brunswick</button>
              <button class="dropdown-item w-100">Newfoundland and Labrador</button>
              <button class="dropdown-item w-100">Nova Scotia</button>
              <button class="dropdown-item w-100">Ontario</button>
              <button class="dropdown-item w-100">Prince Edward Island</button>
              <button class="dropdown-item w-100">Quebec</button>
              <button class="dropdown-item w-100">Saskatchewan</button>
            </div>
          </div>
          <div>
            <button class="btn btn-outline-info">Become a Host</button>
          </div>
      </div>
    </div>
    <div class="title-and-banner-div p-5 d-flex flex-column justify-content-center align-items-center">
      <div class="title-div">
        <h1 class="text-white">Store with Ease, Rent with Confidence.</h1>
        <h5 class="text-white mt-3">Affordable storage solutions near you. Flexible plans, no long-term commitment.</h5>
      </div>
      <!-- <div class="banner-div w-50 d-flex justify-content-center align-items-center">
        <img width="50%" src="assets/img/icons/store-easy-icons/banner.jpg" alt="">
      </div> -->
      <div class="search-bar mt-4">
        <!-- input search -->
        <form action="javascript:;">
          <div class="page-search-input form-group position-relative m-0">
            <input type="search" class="search-input-field form-control rounded-right form-control-lg shadow pl-4" id="searchbar"
              placeholder="Enter location">
            <i class="ft-map-pin map-pin-icon"></i>
            <button class="btn btn-primary search-btn search-button rounded position-absolute" type="button">
              <span class="d-none d-sm-block"><i class="ft-search"></i> Find storage</span>
              <i class="ft-search d-block d-sm-none"></i>
            </button>
          </div>
        </form>
        <!--/ input search -->
      </div>
    </div>
    <div class="store-or-park-div p-5">
      <h1 class="text-center">What do you plan to store or park?</h1>
      <div class="d-flex flex-wrap mt-4 p-2">
        <div class="item mb-3 cursor-pointer d-flex flex-column justify-content-center align-items-center px-5 py-4 border rounded mr-3">
          <i class="fa-solid fa-couch font-medium-3"></i>
          <span class="mt-1 text-bold-600">Items</span>
        </div>
        <div class="item mb-3 cursor-pointer d-flex flex-column justify-content-center align-items-center px-5 py-4 border rounded mr-3">
          <i class="fa-solid fa-car-side font-medium-3"></i>
          <span class="mt-1 text-bold-600">Vehicle</span>
        </div>
        <div class="item mb-3 cursor-pointer d-flex flex-column justify-content-center align-items-center px-5 py-4 border rounded mr-3">
          <i class="fa-solid fa-trailer font-medium-3"></i>
          <span class="mt-1 text-bold-600">Trailer</span>
        </div>
        <div class="item mb-3 cursor-pointer d-flex flex-column justify-content-center align-items-center px-5 py-4 border rounded mr-3">
          <i class="fa-solid fa-caravan font-medium-3"></i>
          <span class="mt-1 text-bold-600">RV/Camper</span>
        </div>
        <div class="item mb-3 cursor-pointer d-flex flex-column justify-content-center align-items-center px-5 py-4 border rounded mr-3">
          <i class="fa-solid fa-sailboat font-medium-3"></i>
          <span class="mt-1 text-bold-600">Boat</span>
        </div>
        <div class="item mb-3 cursor-pointer d-flex flex-column justify-content-center align-items-center px-5 py-4 border rounded mr-3">
          <i class="fa-solid fa-truck font-medium-3"></i>
          <span class="mt-1 text-bold-600">Oversized</span>
        </div>
        <div class="item mb-3 cursor-pointer d-flex flex-column justify-content-center align-items-center px-5 py-4 border rounded mr-3">
          <i class="fa-solid fa-truck-moving font-medium-3"></i>
          <span class="mt-1 text-bold-600">Fleet</span>
        </div>
      </div>
    </div>
    <div class="how-it-works-div p-5">
      <h1>How Store Easy works</h1>
      <div>
        <div class="">
          <!-- <div class="">
            <h4 class="card-title">
              Basic navs</h4>
          </div> -->
          <div class="card-content">
            <div class="card-body">
              <ul ngbNav #basicnav="ngbNav" [(activeId)]="active" class="nav-tabs rounded">
                <li [ngbNavItem]="1">
                  <a ngbNavLink>Renting</a>
                  <ng-template ngbNavContent>
                    <div class="pt-3">
                      <div class="d-flex align-items-center mb-4">
                        <div class="mr-4">
                          <i class="fa-solid fa-location-dot renting-icon-1 font-large-1 bg-white location-icon"></i>
                        </div>
                        <div>
                          <h3>Find Your Space</h3>
                          <p class="m-0">Browse available storage or parking spots in your desired location.</p>
                        </div>
                      </div>
                      <div class="d-flex align-items-center mb-4">
                        <div class="mr-4">
                          <i class="fa-solid fa-star renting-icon-2 font-large-1 bg-white location-icon"></i>
                        </div>
                        <div>
                          <h3>Reserve Quickly</h3>
                          <p class="m-0">Compare options, check details, and book securely in just a few clicks.</p>
                        </div>
                      </div>
                      <div class="d-flex align-items-center">
                        <div class="mr-4">
                          <i class="fa-solid fa-dollar-sign renting-icon-3 font-large-1 bg-white location-icon"></i>
                        </div>
                        <div>
                          <h3>Access with Ease</h3>
                          <p class="m-0">Enjoy flexible and affordable storage or parking, with the option to cancel anytime.</p>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </li>
                <li [ngbNavItem]="2">
                  <a ngbNavLink>Hosting</a>
                  <ng-template ngbNavContent>
                    <div class="pt-3">
                      <div class="d-flex align-items-center mb-4">
                        <div class="mr-4">
                          <i class="fa-solid fa-dollar-sign hosting-icon-1 font-large-1 bg-white location-icon"></i>
                        </div>
                        <div>
                          <h3>Start Earning Today</h3>
                          <p class="m-0">List your unused space and turn it into a steady income.</p>
                        </div>
                      </div>
                      <div class="d-flex align-items-center mb-4">
                        <div class="mr-4">
                          <i class="fa-solid fa-circle-user hosting-icon-2 font-large-1 bg-white location-icon"></i>
                        </div>
                        <div>
                          <h3>Take Full Control</h3>
                          <p class="m-0">Decide who rents your space and what can be stored.</p>
                        </div>
                      </div>
                      <div class="d-flex align-items-center">
                        <div class="mr-4">
                          <i class="fa-solid fa-shield hosting-icon-3 font-large-1 bg-white location-icon"></i>
                        </div>
                        <div>
                          <h3>Feel Secure</h3>
                          <p class="m-0">Host with confidence, backed by $1M in liability coverage.</p>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </li>
                <li [ngbNavItem]="3">
                  <a ngbNavLink>Business</a>
                  <ng-template ngbNavContent>
                    <div class="pt-3">
                      <div class="d-flex align-items-center mb-4">
                        <div class="mr-4">
                          <i class="fa-solid fa-dollar-sign business-icon-1 font-large-1 bg-white location-icon"></i>
                        </div>
                        <div>
                          <h3>Unlock Extra Income</h3>
                          <p class="m-0">Maximize your unused parking and storage spaces by turning them into steady revenue.</p>
                        </div>
                      </div>
                      <div class="d-flex align-items-center mb-4">
                        <div class="mr-4">
                          <i class="fa-solid fa-hand-sparkles business-icon-2 font-large-1 bg-white location-icon"></i>
                        </div>
                        <div>
                          <h3>Effortless Management</h3>
                          <p class="m-0">We connect you with pre-screened renters; you simply confirm and welcome them.</p>
                        </div>
                      </div>
                      <div class="d-flex align-items-center">
                        <div class="mr-4">
                          <i class="fa-solid fa-money-check-dollar business-icon-3 font-large-1 bg-white location-icon"></i>
                        </div>
                        <div>
                          <h3>Hassle-Free Payments</h3>
                          <p class="m-0">Get paid automatically every month, with detailed reports at your fingertips.</p>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </li>
              </ul>

              <div [ngbNavOutlet]="basicnav" class="mt-2"></div>

              <!-- <pre>Active: {{ active }}</pre> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="reviews">
      <section id="swiper-autoplay">
        <div class="row">
            <div class="col-12">
                <div class="card p-0">
                    <!-- <div class="card-header">
                        <h4 class="card-title">Autoplay</h4>
                    </div> -->
                    <div class="card-content">
                        <div class="card-body p-0">
                            <div class="swiper-autoplay swiper-container" [swiper]="swiperAutoplayConfig">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide swiper-slide-1">
                                      <!-- <img class="img-fluid" src="../../assets/img/banner/banner-20.jpg" alt="banner"> -->
                                       <div class="p-5 text-center text-white">
                                        <div class="ratings-icons-div mb-4">
                                          <div class="mb-2">
                                            <i class="fa-solid fa-star rating-icon mr-1"></i>
                                            <i class="fa-solid fa-star rating-icon mr-1"></i>
                                            <i class="fa-solid fa-star rating-icon mr-1"></i>
                                            <i class="fa-solid fa-star rating-icon mr-1"></i>
                                            <i class="fa-solid fa-star rating-icon mr-1"></i>
                                          </div>
                                          <div>
                                            <p class="m-0 text-white font-medium-3">5,000+ Reviews | 4.8/5 stars</p>
                                          </div>
                                        </div>
                                        <p class="text-white m-0 font-large-1 mb-4">“Storing my boat was a breeze with Store Easy. The process was simple, and the host was great! 5 stars all the way!”</p>
                                        <div class="d-flex justify-content-center align-items-center">
                                          <div class="mr-3">
                                            <img width="60" class="review-avatar" src="assets/img/portrait/small/avatar-s-1.png" alt="">
                                          </div>
                                          <div>
                                            <p class="m-0 text-white font-medium-3 text-bold-600 text-center">Liam Anderson</p>
                                            <p class="m-0 text-white font-medium-1 text-center">Store Easy Renter</p>
                                          </div>
                                        </div>
                                       </div>
                                    </div>
                                    <div class="swiper-slide swiper-slide-2">
                                      <!-- <img class="img-fluid" src="../../assets/img/banner/banner-20.jpg" alt="banner"> -->
                                       <div class="p-5 text-center text-white">
                                        <div class="ratings-icons-div mb-4">
                                          <div class="mb-2">
                                            <i class="fa-solid fa-star rating-icon mr-1"></i>
                                            <i class="fa-solid fa-star rating-icon mr-1"></i>
                                            <i class="fa-solid fa-star rating-icon mr-1"></i>
                                            <i class="fa-solid fa-star rating-icon mr-1"></i>
                                            <i class="fa-solid fa-star rating-icon mr-1"></i>
                                          </div>
                                          <div>
                                            <p class="m-0 text-white font-medium-3">5,000+ Reviews | 4.8/5 stars</p>
                                          </div>
                                        </div>
                                        <p class="text-white m-0 font-large-1 mb-4">“Found a perfect parking spot near my workplace. Easy to book, no hassle at all.”</p>
                                        <div class="d-flex justify-content-center align-items-center">
                                          <div class="mr-3">
                                            <img width="60" class="review-avatar" src="assets/img/portrait/small/avatar-s-5.png" alt="">
                                          </div>
                                          <div>
                                            <p class="m-0 text-white font-medium-3 text-bold-600 text-center">John Ramirez</p>
                                            <p class="m-0 text-white font-medium-1 text-center">Store Easy Renter</p>
                                          </div>
                                        </div>
                                       </div>
                                    </div>
                                    <div class="swiper-slide swiper-slide-3">
                                      <!-- <img class="img-fluid" src="../../assets/img/banner/banner-20.jpg" alt="banner"> -->
                                       <div class="p-5 text-center text-white">
                                        <div class="ratings-icons-div mb-4">
                                          <div class="mb-2">
                                            <i class="fa-solid fa-star rating-icon mr-1"></i>
                                            <i class="fa-solid fa-star rating-icon mr-1"></i>
                                            <i class="fa-solid fa-star rating-icon mr-1"></i>
                                            <i class="fa-solid fa-star rating-icon mr-1"></i>
                                            <i class="fa-solid fa-star rating-icon mr-1"></i>
                                          </div>
                                          <div>
                                            <p class="m-0 text-white font-medium-3">5,000+ Reviews | 4.8/5 stars</p>
                                          </div>
                                        </div>
                                        <p class="text-white m-0 font-large-1 mb-4">“Store Easy helped me make extra cash from my empty garage. Definitely recommend!”</p>
                                        <div class="d-flex justify-content-center align-items-center">
                                          <div class="mr-3">
                                            <img width="60" class="review-avatar" src="assets/img/portrait/small/avatar-s-6.png" alt="">
                                          </div>
                                          <div>
                                            <p class="m-0 text-white font-medium-3 text-bold-600 text-center">Sophia Harris</p>
                                            <p class="m-0 text-white font-medium-1 text-center">Store Easy Renter</p>
                                          </div>
                                        </div>
                                       </div>
                                    </div>
                                    <div class="swiper-slide swiper-slide-4">
                                      <!-- <img class="img-fluid" src="../../assets/img/banner/banner-20.jpg" alt="banner"> -->
                                       <div class="p-5 text-center text-white">
                                        <div class="ratings-icons-div mb-4">
                                          <div class="mb-2">
                                            <i class="fa-solid fa-star rating-icon mr-1"></i>
                                            <i class="fa-solid fa-star rating-icon mr-1"></i>
                                            <i class="fa-solid fa-star rating-icon mr-1"></i>
                                            <i class="fa-solid fa-star rating-icon mr-1"></i>
                                            <i class="fa-solid fa-star rating-icon mr-1"></i>
                                          </div>
                                          <div>
                                            <p class="m-0 text-white font-medium-3">5,000+ Reviews | 4.8/5 stars</p>
                                          </div>
                                        </div>
                                        <p class="text-white m-0 font-large-1 mb-4">“Super convenient platform to store my RV. Booking took minutes!”</p>
                                        <div class="d-flex justify-content-center align-items-center">
                                          <div class="mr-3">
                                            <img width="60" class="review-avatar" src="assets/img/portrait/small/avatar-s-3.png" alt="">
                                          </div>
                                          <div>
                                            <p class="m-0 text-white font-medium-3 text-bold-600 text-center">Michael Nguyen</p>
                                            <p class="m-0 text-white font-medium-1 text-center">Store Easy Renter</p>
                                          </div>
                                        </div>
                                       </div>
                                    </div>
                                    <div class="swiper-slide swiper-slide-5">
                                      <!-- <img class="img-fluid" src="../../assets/img/banner/banner-20.jpg" alt="banner"> -->
                                       <div class="p-5 text-center text-white">
                                        <div class="ratings-icons-div mb-4">
                                          <div class="mb-2">
                                            <i class="fa-solid fa-star rating-icon mr-1"></i>
                                            <i class="fa-solid fa-star rating-icon mr-1"></i>
                                            <i class="fa-solid fa-star rating-icon mr-1"></i>
                                            <i class="fa-solid fa-star rating-icon mr-1"></i>
                                            <i class="fa-solid fa-star rating-icon mr-1"></i>
                                          </div>
                                          <div>
                                            <p class="m-0 text-white font-medium-3">5,000+ Reviews | 4.8/5 stars</p>
                                          </div>
                                        </div>
                                        <p class="text-white m-0 font-large-1 mb-4">“Excellent service! I rented a space for storage, and everything went smoothly.”</p>
                                        <div class="d-flex justify-content-center align-items-center">
                                          <div class="mr-3">
                                            <img width="60" class="review-avatar" src="assets/img/portrait/small/avatar-s-24.png" alt="">
                                          </div>
                                          <div>
                                            <p class="m-0 text-white font-medium-3 text-bold-600 text-center">Lily Thompson</p>
                                            <p class="m-0 text-white font-medium-1 text-center">Store Easy Renter</p>
                                          </div>
                                        </div>
                                       </div>
                                    </div>
                                    <div class="swiper-slide swiper-slide-6">
                                      <!-- <img class="img-fluid" src="../../assets/img/banner/banner-20.jpg" alt="banner"> -->
                                       <div class="p-5 text-center text-white">
                                        <div class="ratings-icons-div mb-4">
                                          <div class="mb-2">
                                            <i class="fa-solid fa-star rating-icon mr-1"></i>
                                            <i class="fa-solid fa-star rating-icon mr-1"></i>
                                            <i class="fa-solid fa-star rating-icon mr-1"></i>
                                            <i class="fa-solid fa-star rating-icon mr-1"></i>
                                            <i class="fa-solid fa-star rating-icon mr-1"></i>
                                          </div>
                                          <div>
                                            <p class="m-0 text-white font-medium-3">5,000+ Reviews | 4.8/5 stars</p>
                                          </div>
                                        </div>
                                        <p class="text-white m-0 font-large-1 mb-4">“Safe and reliable. Loved the seamless booking experience.”</p>
                                        <div class="d-flex justify-content-center align-items-center">
                                          <div class="mr-3">
                                            <img width="60" class="review-avatar" src="assets/img/portrait/small/avatar-s-11.png" alt="">
                                          </div>
                                          <div>
                                            <p class="m-0 text-white font-medium-3 text-bold-600 text-center">James Mitchell</p>
                                            <p class="m-0 text-white font-medium-1 text-center">Store Easy Renter</p>
                                          </div>
                                        </div>
                                       </div>
                                    </div>
                                </div>
                                <!-- Add Pagination -->
                                <div class="swiper-pagination"></div>
                                <!-- Add Arrows -->
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
    </div>
  </div>
</section>
