.storage-type-button:hover{
    border: 1px solid #E0E0E0 !important;
    box-shadow: none;
}

.find-storage-button:hover{
    border: 1px solid #E0E0E0 !important;
}

.become-host-button:hover{
    border: 1px solid #E0E0E0 !important;
}

.location-button:hover{
    border: 1px solid #E0E0E0 !important;
    box-shadow: none;
}

.how-it-works-button-button:hover{
    border: 1px solid #E0E0E0 !important;
}

// .title-and-banner-div{
//     background-color: #D6E1F3;
// }

.logo-text{
    color:#226CC5;
}

.search-bar{
    // width:700px;
    width:75%;
}

.search-button{
    right: 5px;
    top: 5px;
    white-space: nowrap;
}

.search-input-field{
    background-color: #ffffff;
}

.map-pin-icon{
    position: absolute;
    left: 10px; /* Adjust based on your design */
    top: 50%;
    transform: translateY(-50%);
    color: #aaa; /* Icon color */
    font-size:16px;
}

.title-and-banner-div {
    // background-image: url("../../assets/img/icons/store-easy-icons/background-image.png");
    background-image: linear-gradient(to right, rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url("../../assets/img/icons/store-easy-icons/background-image.png");
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating the image */
    height:80vh;
}

.item{
    width:50px;
}

.item:hover{
    border:1px solid #2F8BE6 !important;
}

.how-it-works-div{
    background-color: #D6E1F3;
}

.nav-tabs{
    background-color: #fff;
    padding: 5px;
    display: inline-flex;
}

.nav-tabs .nav-link.active{
    color: #226CC5;
    background-color: #D6E1F3;
    border-radius:5px;
    border:none;
}

.nav-tabs .nav-link{
    color: #17102F;
    font-weight:600;
}

.renting-icon-1{
    border-radius:50%;
    padding:20px 25px;
}

.renting-icon-2{
    border-radius:50%;
    padding:21px 20px;
}

.renting-icon-3{
    border-radius:50%;
    padding:20px 27px;
}

.hosting-icon-1{
    border-radius:50%;
    padding:20px 27px;
}

.hosting-icon-2{
    border-radius:50%;
    padding:20px 20px;
}

.hosting-icon-3{
    border-radius:50%;
    padding:20px 20px;
}

.business-icon-1{
    border-radius:50%;
    padding:20px 27px;
}

.business-icon-2{
    border-radius:50%;
    padding:22px 20px;
}

.business-icon-3{
    border-radius:50%;
    padding:21px 20px;
}

.swiper-slide-1,.swiper-slide-3,.swiper-slide-5{
    background-color: #2F8BE6;
}

.swiper-slide-2,.swiper-slide-4,.swiper-slide-6{
    background-color: #0E3885;
}

.rating-icon{
    color:#FFD700;
    font-size:25px;
}

.review-avatar{
    border:2px solid #fff;
    border-radius:50%;
}






































































































