.storage-type-button:hover{
  border: 1px solid #E0E0E0 !important;
  box-shadow: none;
}

.find-storage-button:hover{
  border: 1px solid #E0E0E0 !important;
}

.become-host-button:hover{
  border: 1px solid #E0E0E0 !important;
}

.location-button:hover{
  border: 1px solid #E0E0E0 !important;
  box-shadow: none;
}

.how-it-works-button-button:hover{
  border: 1px solid #E0E0E0 !important;
}

// .title-and-banner-div{
//     background-color: #D6E1F3;
// }

.logo-text{
  // color:#226CC5;
  color: #0079e1;
  font-weight: bold;
}

.storage-details-header {
  // //   background: linear-gradient(180deg,#051320,#174476);
  background-image: linear-gradient(135deg, #0E3885, #2F8BE6);
}

.custom-width-280{
  width: 280px;
}

.text-black{
  color: #000000 !important;
  }

.text-bold-900{
  font-weight: 900 !important;
}

.garage-icon, .approve-icon, .start-earning-icon{
  font-size:50px;
}


.my-drop-zone {
  border: dotted 3px lightgray;
  background-color: #f5f7fa !important;
}
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }

.text-normal-case {
  text-transform: none !important;
}

.form-field-label-styling{
  font-size: 1rem !important;
  font-weight: 500 !important;
  text-transform: none !important;
}

.text-bold-600{
  font-weight:600 !important;
}




