<section class="host-welcome-page-section">
  <div class="host-welcome-page-div">
    <div class="header d-flex justify-content-between align-items-center px-4 py-2 bg-white rounded">
      <div class="left-menu">
        <div class="logo-div mr-2">
          <h4 [routerLink]="['/dashboard/home']" class="logo-text m-0 text-bold-900 font-large-1 cursor-pointer">
            <img width="30px" src="assets/img/icons/store-easy-icons/storage-icon.svg" alt="">
            Store Easy
          </h4>
        </div>
      </div>

      <div class="right-menu d-flex justify-content-between align-items-center p-2 ">
          <div class="mr-2">
            <span class="how-it-works-button-button text-black cursor-pointer p-2 rounded">How it works</span>
          </div>
          <div class="mr-2">
            <a class="find-storage-button cursor-pointer p-2 rounded text-black" href="dashboard/storage/search-hosts" target="_blank">Find storage</a>
          </div>
          <div ngbDropdown>
            <button class="btn storage-type-button mr-2 text-black" id="storage-type-dropdown" ngbDropdownToggle>Storage Type</button>
            <div ngbDropdownMenu aria-labelledby="storage-type-dropdown">
              <button class="dropdown-item w-100">Self Storage</button>
              <button class="dropdown-item w-100">Garages</button>
              <button class="dropdown-item w-100">RV Storage</button>
              <button class="dropdown-item w-100">RV Storage</button>
              <button class="dropdown-item w-100">Boat Storage</button>
              <button class="dropdown-item w-100">Car Storage</button>
              <button class="dropdown-item w-100">Truck Parking</button>
              <button class="dropdown-item w-100">Monthly Parking</button>
              <button class="dropdown-item w-100">Long-term Parking</button>
              <button class="dropdown-item w-100">Fleet Parking</button>
            </div>
          </div>
          <div ngbDropdown>
            <button class="btn location-button mr-2 text-black" id="locations-dropdown" ngbDropdownToggle>Locations</button>
            <div ngbDropdownMenu aria-labelledby="locations-dropdown">
              <button class="dropdown-item w-100">Alberta</button>
              <button class="dropdown-item w-100">British Columbia</button>
              <button class="dropdown-item w-100">Manitoba</button>
              <button class="dropdown-item w-100">New Brunswick</button>
              <button class="dropdown-item w-100">Newfoundland and Labrador</button>
              <button class="dropdown-item w-100">Nova Scotia</button>
              <button class="dropdown-item w-100">Ontario</button>
              <button class="dropdown-item w-100">Prince Edward Island</button>
              <button class="dropdown-item w-100">Quebec</button>
              <button class="dropdown-item w-100">Saskatchewan</button>
            </div>
          </div>
          <div class="mr-2">
            <span class="how-it-works-button-button cursor-pointer p-2 rounded text-black">
              <i class="fa-regular fa-circle-user mr-1"></i>
              Log in</span>
          </div>
          <div>
            <a class="btn btn-outline-info" href="dashboard/host/become-a-host" target="_blank">Become a host</a>
          </div>
      </div>
    </div>
    <div class="storage-details-header">
      <h4 class="text-white text-bold-600 px-3 py-2 mb-3 container">
        Become a host
      </h4>
    </div>

    <div class="container">
      <div class="py-4">
        <h2 class="text-center text-info text-bold-600 mb-3">Store Easy makes it easy.</h2>
        <h5 class="text-center mb-4">Become a host in 3 easy steps.</h5>
        <div class="row">
          <div class="col-md-4 col-12">
            <div class="card px-3 py-4">
              <div class="d-flex justify-content-center align-items-center text-bold-600"><i class="fa-solid fa-warehouse garage-icon text-info"></i></div>
              <h5 class="text-center text-bold-600 mt-3">1. List your spaces</h5>
              <p class="m-0 text-center">Tell us about your spaces and how much you would like to earn.</p>
            </div>
          </div>
          <div class="col-md-4 col-12">
            <div class="card px-3 py-4">
              <div class="d-flex justify-content-center align-items-center text-bold-600"><i class="fa-solid fa-clipboard-check approve-icon text-info"></i></div>
              <h5 class="text-center text-bold-600 mt-3">2. Approve who rents</h5>
              <p class="m-0 text-center">Review renter requests (including what they want to store and when) and approve them.</p>
            </div>
          </div>
          <div class="col-md-4 col-12">
            <div class="card px-3 py-4">
              <div class="d-flex justify-content-center align-items-center text-bold-600"><i class="start-earning-icon fa-solid fa-hand-holding-dollar text-info"></i></div>
              <h5 class="text-center text-bold-600 mt-3">3. Start earning</h5>
              <p class="m-0 text-center">Schedule a move-in time with your renter, and start getting paid.</p>
            </div>
          </div>
        </div>
        <div class="text-center mt-4">
          <button class="btn btn-info w-25 font-medium-3 py-2" (click)="listYourSpace()">List your space</button>
        </div>
        <p class="p-0 text-center mt-3"><i class="fa-solid fa-circle-check mr-1"></i> It's free and secure</p>
      </div>
    </div>


    <!-- <div class="bg-secondary bg-lighten-4 mt-3 py-3">
      <div class="container">
        <div class="d-flex justify-content-end align-items-center">
          <button (click)="listYourSpace()" type="button" class="btn btn-primary font-medium-3 py-2 px-3">List your space</button>
        </div>
      </div>
    </div> -->


  </div>
</section>
